/* styles.css */

/* Homepage */
.user-tagline-popover-rating {
	display: none !important;
}

.stat-section-user-rating {
	display: none !important;
}

.top-user-score {
	display: none !important;
}

.user-tagline-rating {
	display: none !important;
}

/* User Popup */
.user-rating-rating {
	display: none !important;
}

/* Match Page */
.player-game-over-component {
	display: none !important;
}

.user-rating {
	display: none !important;
}

.game-over-message-component span:last-child {
	display: none !important;
}

.game-over-message-component span strong {
	display: none !important;
}

/* Analysis Page */
input[aria-label="Rating"] {
	display: none !important;
}

/* Lichess support */

/* Anaysis page */
.game__meta__players {
	display: none !important;
}
